@using ElectronicMarket.Domain.Models.Shop;
@model CartViewModel
@{
    ViewData["Title"] = "Корзина";

}
<div class="container">

    <h1>Корзина</h1>
    <h2>Ваш заказ: <strong>Итого к оплате</strong> @(Model.Cart.Items.Sum(p => p.Product.Price)) руб.</h2>

    <div class="row g-2 my-5">



        @foreach (var cartItem in Model.Cart.Items)
        {
            <div class="col-12">
                <div class="card">
                    <div class="card-body row g-0 justify-content-start">
                        <div class="col-1">
                            <img class="img-fluid" width="80px" src="@cartItem.Product.ImgUrl" />
                        </div>
                        <div class="col-9">
                            <div class="h5">@cartItem.Product.Name</div>
                            <div class="fw-bold">@cartItem.Product.Price руб.</div>
                            <div>
                                <form class="d-inline" asp-action="RemoveItem" asp-route-productId="@cartItem.Product.Id" method="post">
                                    <button type="submit" class="d-inline btn bi-dash-circle text-danger me-3"></button>
                                </form>
                                <span class="fs-6">@cartItem.Count</span>
                                <form class="d-inline" asp-action="AddItem" asp-route-productId="@cartItem.Product.Id" method="post">
                                    <button type="submit" class="d-inline btn bi-plus-circle text-success ms-3"></button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        }



    </div>
    <form asp-action="CreateOrder">

        <div class="row g-3 justify-content-end">

            <div class="col-12 col-md-4">
                
                <button type="button" class="btn btn-accent form-control" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Оформить заказ
                </button>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-body">
                        <h1 class="modal-title fs-5 text-center   mb-3" id="exampleModalLabel">Спасибо за покупку</h1>
                        <div class="mb-3">
                            С вами скоро свяжется оператор!
                        </div>
                        <button type="button" class="btn btn-accent form-control  " data-bs-dismiss="modal">Хорошо</button>
                    </div>
                    
                   
                </div>
            </div>
        </div>
    </form>
</div>
