@using ElectronicMarket.Domain.Models.Shop;
@model CatalogViewModel


@{
    ViewData["Title"] = "Каталог";

}

<div class="container">
    <h1 class=" text-center mb-2 ">
        Каталог
    </h1>


    <div class="">
        <div class="row d-flex justify-content-center ">


            @foreach (var category in Model.Categories)
            {
                <div class="col-4 justify-content-center"  >
                    <a asp-controller="Catalog" asp-action="Index" asp-route-id="@category.Id" class=" nav-link fs-3 text-center text-decoration-none">
                        <div class="shadow p-3 mb-5 bg-body rounded d-flex flex-column align-items-center" style="height:100%;">
                            <div  style="height:220px;">
                                <img class="img-fluid"  src="@category.ImgUrl" />
                            </div>
                            @category.Name

                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <h2 class="text-center text-muted mb-5">
        @Model.CurrentCategory?.Name
    </h2>
    <div class="row justify-content-center">
        @foreach (var product in Model.Products)
        {
            <div class="shadow p-3 mb-5 bg-body rounded col-2 m-2">
                <div style="text-align:center;">
                    <img class="img-fluid" width="190px" src="@product.ImgUrl" />
                </div>
                <div class="text-center ">
                    <form asp-controller="Cart" asp-action="AddItem" asp-route-productId="@product.Id">
                        <button class="border-0 bg-white">
                            <i class="bi bi-bag-plus-fill text-primary"></i>
                            @product.Price руб.
                        </button>
                    </form>


                </div>
            </div>

        }
    </div>
</div>

